/* line 2, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 6, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/documentation.scss */
body.documentation section.integration {
  padding-top: 120px; }
/* line 9, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/documentation.scss */
body.documentation section.usage {
  padding-top: 80px; }
/* line 12, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/documentation.scss */
body.documentation section.troubleshooting {
  padding-top: 80px; }
  /* line 14, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/documentation.scss */
  body.documentation section.troubleshooting .container {
    padding-top: 1em; }
/* line 18, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/documentation.scss */
body.documentation .container {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  /* line 18, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/bourbon/addons/_clearfix.scss */
  body.documentation .container:before, body.documentation .container:after {
    content: " ";
    display: table; }
  /* line 23, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/bourbon/addons/_clearfix.scss */
  body.documentation .container:after {
    clear: both; }
  /* line 20, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/documentation.scss */
  body.documentation .container p {
    margin-bottom: 2em; }
  /* line 23, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/documentation.scss */
  body.documentation .container code {
    padding: 2px 5px;
    background: rgba(8, 142, 218, 0.05); }
  /* line 28, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/documentation.scss */
  body.documentation .container ul {
    margin-bottom: 2em; }
    /* line 30, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/documentation.scss */
    body.documentation .container ul li {
      padding: 0.5em;
      border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
      /* line 36, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/documentation.scss */
      body.documentation .container ul li:last-child {
        border: none; }
/* line 42, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/documentation.scss */
body.documentation img {
  display: block;
  margin: 1em auto 2em auto; }
/* line 46, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/documentation.scss */
body.documentation h2 {
  text-align: left; }
/* line 49, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/documentation.scss */
body.documentation h3 {
  margin: 2em 0 1em 0;
  font-size: 20px;
  font-family: "Gotham", "Gotham A", "Gotham B", Helvetiva, sans-serif;
  font-weight: 500;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
