/* line 2, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 6, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/frontpage.scss */
body.frontpage section.hero {
  width: 100%;
  height: 800px;
  padding-top: 80px;
  background-color: #1880c2;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0173bc), color-stop(100%, #27a9e8));
  background-image: -webkit-linear-gradient(-320deg, #0173bc 0%, #27a9e8 100%);
  background-image: linear-gradient(50deg,#0173bc 0%, #27a9e8 100%); }
  /* line 12, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/frontpage.scss */
  body.frontpage section.hero .container {
    position: relative;
    *zoom: 1;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    min-width: 64em; }
    /* line 18, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/bourbon/addons/_clearfix.scss */
    body.frontpage section.hero .container:before, body.frontpage section.hero .container:after {
      content: " ";
      display: table; }
    /* line 23, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/bourbon/addons/_clearfix.scss */
    body.frontpage section.hero .container:after {
      clear: both; }
    /* line 17, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/frontpage.scss */
    body.frontpage section.hero .container .iphone5-and-ipadmini {
      display: block;
      position: relative;
      width: 960px;
      height: 490px;
      margin: 0 auto;
      top: 80px;
      background: transparent url("/images/frontpage/heroshot_iphone5_ipadmini.png") no-repeat;
      background-size: 960px 490px; }
      /* line 27, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/frontpage.scss */
      body.frontpage section.hero .container .iphone5-and-ipadmini .iphone {
        position: absolute;
        width: 172px;
        height: 310px;
        top: 104px;
        left: 30px;
        overflow: hidden; }
        /* line 35, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/frontpage.scss */
        body.frontpage section.hero .container .iphone5-and-ipadmini .iphone img {
          display: block;
          width: 172px;
          height: 312px; }
      /* line 42, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/frontpage.scss */
      body.frontpage section.hero .container .iphone5-and-ipadmini .ipad {
        position: absolute;
        width: 563px;
        height: 422px;
        top: 28px;
        left: 315px;
        overflow: hidden; }
        /* line 50, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/frontpage.scss */
        body.frontpage section.hero .container .iphone5-and-ipadmini .ipad img {
          display: block;
          width: 563px;
          height: 422px; }
    /* line 59, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/frontpage.scss */
    body.frontpage section.hero .container h1 {
      position: absolute;
      top: 550px;
      color: #fff;
      width: 100%;
      text-align: center; }
/* line 70, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/frontpage.scss */
body.frontpage section.why {
  width: 100%;
  padding-bottom: 20px; }
  /* line 74, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/frontpage.scss */
  body.frontpage section.why .container {
    *zoom: 1;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    min-width: 64em; }
    /* line 18, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/bourbon/addons/_clearfix.scss */
    body.frontpage section.why .container:before, body.frontpage section.why .container:after {
      content: " ";
      display: table; }
    /* line 23, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/bourbon/addons/_clearfix.scss */
    body.frontpage section.why .container:after {
      clear: both; }
    /* line 78, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/frontpage.scss */
    body.frontpage section.why .container .row {
      *zoom: 1;
      display: block; }
      /* line 18, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/bourbon/addons/_clearfix.scss */
      body.frontpage section.why .container .row:before, body.frontpage section.why .container .row:after {
        content: " ";
        display: table; }
      /* line 23, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/bourbon/addons/_clearfix.scss */
      body.frontpage section.why .container .row:after {
        clear: both; }
/* line 84, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/frontpage.scss */
body.frontpage section.clients {
  position: relative;
  min-height: 360px;
  padding: 1px 0 40px 0;
  background-color: #1880c2;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0173bc), color-stop(100%, #27a9e8));
  background-image: -webkit-linear-gradient(-320deg, #0173bc 0%, #27a9e8 100%);
  background-image: linear-gradient(50deg,#0173bc 0%, #27a9e8 100%);
  color: #fff; }
  /* line 91, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/frontpage.scss */
  body.frontpage section.clients h1 {
    color: #fff; }
  /* line 94, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/frontpage.scss */
  body.frontpage section.clients a {
    color: #bdebfd;
    text-decoration: none; }
  /* line 98, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/frontpage.scss */
  body.frontpage section.clients .testimonials {
    *zoom: 1;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    min-width: 64em;
    clear: both; }
    /* line 18, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/bourbon/addons/_clearfix.scss */
    body.frontpage section.clients .testimonials:before, body.frontpage section.clients .testimonials:after {
      content: " ";
      display: table; }
    /* line 23, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/bourbon/addons/_clearfix.scss */
    body.frontpage section.clients .testimonials:after {
      clear: both; }
    /* line 103, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/frontpage.scss */
    body.frontpage section.clients .testimonials blockquote {
      padding: 0 10%;
      margin-bottom: 20px; }
      /* line 106, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/frontpage.scss */
      body.frontpage section.clients .testimonials blockquote p {
        color: #fff; }
      /* line 109, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/frontpage.scss */
      body.frontpage section.clients .testimonials blockquote footer {
        text-align: right;
        color: #bdebfd; }
  /* line 115, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/frontpage.scss */
  body.frontpage section.clients .footer.link {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 30px;
    text-align: center;
    opacity: 0.75; }
    /* line 122, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/frontpage.scss */
    body.frontpage section.clients .footer.link:hover {
      opacity: 1.0; }
/* line 128, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/frontpage.scss */
body.frontpage section.apps {
  position: relative;
  min-height: 360px;
  padding: 1px 0 20px 0; }
  /* line 133, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/frontpage.scss */
  body.frontpage section.apps a {
    color: #7e8992;
    text-decoration: none; }
  /* line 137, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/frontpage.scss */
  body.frontpage section.apps .appgrid {
    *zoom: 1;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    min-width: 64em;
    text-align: center;
    padding: 20px 0; }
    /* line 18, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/bourbon/addons/_clearfix.scss */
    body.frontpage section.apps .appgrid:before, body.frontpage section.apps .appgrid:after {
      content: " ";
      display: table; }
    /* line 23, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/bourbon/addons/_clearfix.scss */
    body.frontpage section.apps .appgrid:after {
      clear: both; }
    /* line 144, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/frontpage.scss */
    body.frontpage section.apps .appgrid .app {
      width: 150px;
      height: 200px;
      margin: 0 10px 40px 10px;
      display: inline-block;
      text-align: center;
      vertical-align: text-top; }
      /* line 152, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/frontpage.scss */
      body.frontpage section.apps .appgrid .app img {
        display: block;
        margin: 0 auto;
        width: 128px;
        height: 128px; }
      /* line 158, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/frontpage.scss */
      body.frontpage section.apps .appgrid .app p {
        margin-top: 10px;
        color: #334450;
        font-size: 16px;
        line-height: 20px;
        font-family: "Gotham", "Gotham A", "Gotham B", Helvetiva, sans-serif;
        font-weight: 300; }
      /* line 166, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/frontpage.scss */
      body.frontpage section.apps .appgrid .app p.small {
        margin-top: 5px;
        color: #7e8992;
        font-size: 14px;
        line-height: 16px; }
  /* line 174, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/frontpage.scss */
  body.frontpage section.apps .footer.link {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 30px;
    text-align: center;
    opacity: 0.75; }
    /* line 181, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/frontpage.scss */
    body.frontpage section.apps .footer.link:hover {
      opacity: 1.0; }
