/* line 2, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 4, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/navigation.scss */
div.pspdfkit-logo {
  z-index: 99;
  display: inline-block;
  position: absolute;
  left: 50%;
  width: 0px; }
  /* line 10, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/navigation.scss */
  div.pspdfkit-logo img {
    display: block;
    position: relative;
    width: 115px;
    height: 120px;
    left: -34em; }

/* line 18, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/navigation.scss */
nav.main {
  display: block;
  position: fixed;
  height: 80px;
  width: 100%;
  background: rgba(255, 255, 255, 0.96);
  z-index: 101; }
  /* line 26, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/navigation.scss */
  nav.main ul {
    *zoom: 1;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block;
    padding: 20px 0 20px 140px;
    overflow: hidden; }
    /* line 18, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/bourbon/addons/_clearfix.scss */
    nav.main ul:before, nav.main ul:after {
      content: " ";
      display: table; }
    /* line 23, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/bourbon/addons/_clearfix.scss */
    nav.main ul:after {
      clear: both; }
    /* line 32, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/navigation.scss */
    nav.main ul li {
      position: relative;
      display: inline-block;
      float: left;
      margin-right: 5px;
      font-family: "Gotham";
      font-weight: 500;
      max-height: 60px;
      overflow: visible; }
      /* line 42, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/navigation.scss */
      nav.main ul li.download {
        float: right; }
        /* line 44, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/navigation.scss */
        nav.main ul li.download a {
          color: #fff; }
          /* line 46, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/navigation.scss */
          nav.main ul li.download a:hover {
            color: #fff;
            background: #0e6cae; }
          /* line 50, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/navigation.scss */
          nav.main ul li.download a:active {
            background: #334450; }
      /* line 55, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/navigation.scss */
      nav.main ul li a {
        display: block;
        height: 40px;
        padding: 0 14px;
        font-size: 16px;
        line-height: 40px;
        color: #1880c2;
        text-decoration: none; }
        /* line 63, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/navigation.scss */
        nav.main ul li a:hover {
          color: #0e6cae;
          background: rgba(24, 128, 194, 0.05); }
        /* line 67, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/navigation.scss */
        nav.main ul li a.active {
          color: #334450; }

/* line 75, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/navigation.scss */
nav.sub {
  position: fixed;
  display: block;
  top: 80px;
  width: 100%;
  height: 40px;
  background: rgba(8, 147, 218, 0.9);
  color: #fa0;
  z-index: 100; }
  /* line 84, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/navigation.scss */
  nav.sub ul {
    width: auto;
    padding: 0 0 0 60px;
    margin: 0 auto;
    text-align: center;
    *zoom: 1;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    /* line 18, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/bourbon/addons/_clearfix.scss */
    nav.sub ul:before, nav.sub ul:after {
      content: " ";
      display: table; }
    /* line 23, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/bourbon/addons/_clearfix.scss */
    nav.sub ul:after {
      clear: both; }
    /* line 91, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/navigation.scss */
    nav.sub ul li {
      display: inline-block; }
      /* line 93, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/navigation.scss */
      nav.sub ul li a {
        display: block;
        float: left;
        height: 40px;
        padding: 0 14px;
        font-size: 16px;
        line-height: 40px;
        text-decoration: none;
        color: #fff;
        font-family: "Gotham";
        font-weight: 400; }
        /* line 105, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/navigation.scss */
        nav.sub ul li a:hover {
          background-color: rgba(14, 108, 174, 0.5); }
        /* line 108, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/navigation.scss */
        nav.sub ul li a:active {
          background-color: #0e6cae; }
        /* line 111, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/navigation.scss */
        nav.sub ul li a.active {
          color: #1880c2;
          background-color: #f7f8f9; }
