/* line 2, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 6, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/purchase.scss */
body.purchase section.products {
  width: 100%;
  padding: 140px 0 0 0;
  background-color: #1880c2;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0173bc), color-stop(100%, #27a9e8));
  background-image: -webkit-linear-gradient(-320deg, #0173bc 0%, #27a9e8 100%);
  background-image: linear-gradient(50deg,#0173bc 0%, #27a9e8 100%); }
  /* line 11, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/purchase.scss */
  body.purchase section.products .container {
    *zoom: 1;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    /* line 18, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/bourbon/addons/_clearfix.scss */
    body.purchase section.products .container:before, body.purchase section.products .container:after {
      content: " ";
      display: table; }
    /* line 23, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/bourbon/addons/_clearfix.scss */
    body.purchase section.products .container:after {
      clear: both; }
    /* line 14, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/purchase.scss */
    body.purchase section.products .container .product {
      position: relative;
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 31.76157%;
      border-radius: 12px;
      background: rgba(255, 255, 255, 0.9); }
      /* line 41, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/neat/grid/_span-columns.scss */
      body.purchase section.products .container .product:last-child {
        margin-right: 0; }
      /* line 19, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/purchase.scss */
      body.purchase section.products .container .product .product-logo {
        text-align: center; }
        /* line 21, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/purchase.scss */
        body.purchase section.products .container .product .product-logo img {
          display: block;
          width: 120px;
          height: 160px;
          margin: 30px auto 30px auto; }
      /* line 28, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/purchase.scss */
      body.purchase section.products .container .product .white {
        position: relative;
        height: 600px;
        background: #fff;
        border-radius: 0 0 12px 12px;
        overflow: hidden; }
      /* line 35, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/purchase.scss */
      body.purchase section.products .container .product ul {
        list-style-type: none;
        margin-bottom: 20px;
        background: #fff; }
        /* line 39, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/purchase.scss */
        body.purchase section.products .container .product ul li {
          padding: 8px 10px 8px 15px;
          font-size: 18px;
          line-height: 28px;
          min-height: 40px; }
        /* line 46, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/purchase.scss */
        body.purchase section.products .container .product ul.features li {
          border-bottom: 1px solid rgba(8, 142, 218, 0.2); }
          /* line 48, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/purchase.scss */
          body.purchase section.products .container .product ul.features li em {
            color: #027fbf;
            font-style: normal; }
      /* line 55, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/purchase.scss */
      body.purchase section.products .container .product .buy {
        position: absolute;
        width: 100%;
        bottom: 0px;
        left: 0px;
        text-align: center; }
        /* line 62, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/purchase.scss */
        body.purchase section.products .container .product .buy ul li {
          height: 50px;
          margin-bottom: 2px;
          background: #f7f8f9;
          color: #0893da;
          font-family: "Gotham", "Gotham A", "Gotham B", Helvetiva, sans-serif;
          font-weight: 200;
          font-size: 36px;
          line-height: 40px;
          text-indent: -0.75em; }
          /* line 72, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/purchase.scss */
          body.purchase section.products .container .product .buy ul li em {
            color: #334450;
            font-weight: 600;
            font-style: normal; }
      /* line 81, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/purchase.scss */
      body.purchase section.products .container .product .button {
        width: auto;
        display: block;
        margin: 10px;
        text-align: center;
        text-decoration: none;
        font-family: "Gotham", "Gotham A", "Gotham B", Helvetiva, sans-serif;
        font-weight: 300;
        font-size: 18px;
        background: #0893da; }
        /* line 91, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/purchase.scss */
        body.purchase section.products .container .product .button:hover {
          background: #0089d0; }
        /* line 94, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/purchase.scss */
        body.purchase section.products .container .product .button:active {
          background: #0075bc; }
        /* line 98, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/purchase.scss */
        body.purchase section.products .container .product .button.lessawesome {
          background: #617484; }
          /* line 100, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/purchase.scss */
          body.purchase section.products .container .product .button.lessawesome:hover {
            background: #576a7a; }
          /* line 103, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/purchase.scss */
          body.purchase section.products .container .product .button.lessawesome:active {
            background: #435666; }
  /* line 110, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/purchase.scss */
  body.purchase section.products .footer.link {
    clear: both;
    position: relative;
    display: block;
    height: 40px;
    padding-top: 10px;
    color: #bdebfd;
    text-decoration: none;
    text-align: center;
    opacity: 0.666; }
    /* line 120, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/purchase.scss */
    body.purchase section.products .footer.link:hover {
      opacity: 1.0; }
/* line 127, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/purchase.scss */
body.purchase section.info {
  width: 100%;
  padding: 20px 0 40px 0; }
  /* line 131, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/purchase.scss */
  body.purchase section.info .container {
    *zoom: 1;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    /* line 18, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/bourbon/addons/_clearfix.scss */
    body.purchase section.info .container:before, body.purchase section.info .container:after {
      content: " ";
      display: table; }
    /* line 23, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/bourbon/addons/_clearfix.scss */
    body.purchase section.info .container:after {
      clear: both; }
    /* line 134, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/purchase.scss */
    body.purchase section.info .container .row {
      *zoom: 1;
      display: block; }
      /* line 18, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/bourbon/addons/_clearfix.scss */
      body.purchase section.info .container .row:before, body.purchase section.info .container .row:after {
        content: " ";
        display: table; }
      /* line 23, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/bourbon/addons/_clearfix.scss */
      body.purchase section.info .container .row:after {
        clear: both; }
/* line 142, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/purchase.scss */
body.purchase section.faq .container {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  /* line 18, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/bourbon/addons/_clearfix.scss */
  body.purchase section.faq .container:before, body.purchase section.faq .container:after {
    content: " ";
    display: table; }
  /* line 23, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/bourbon/addons/_clearfix.scss */
  body.purchase section.faq .container:after {
    clear: both; }
  /* line 145, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/purchase.scss */
  body.purchase section.faq .container p {
    margin-bottom: 2em; }
  /* line 148, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/purchase.scss */
  body.purchase section.faq .container code {
    padding: 2px 5px;
    background: rgba(8, 142, 218, 0.05); }
