/* line 2, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 4, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/footer.scss */
body > footer {
  min-height: 40px;
  width: 100%;
  color: #cfdbed;
  background: #085075;
  padding: 0; }
  /* line 11, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/footer.scss */
  body > footer ul {
    *zoom: 1;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block;
    padding: 20px 0; }
    /* line 18, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/bourbon/addons/_clearfix.scss */
    body > footer ul:before, body > footer ul:after {
      content: " ";
      display: table; }
    /* line 23, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/bourbon/addons/_clearfix.scss */
    body > footer ul:after {
      clear: both; }
    /* line 16, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/footer.scss */
    body > footer ul li {
      position: relative;
      display: block;
      float: left;
      margin-right: 5px; }
      /* line 21, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/footer.scss */
      body > footer ul li a {
        display: block;
        color: #cfdbed;
        text-decoration: none; }
