body > footer {
  min-height: 40px;
  width: 100%;
  color: #cfdbed;
  background: rgba(8,80,117,1);
  padding: 0;

  ul {
    @include outer-container;
    position: relative;
    display: block;
    padding: 20px 0;
    li {
      position: relative;
      display: block;
      float: left;
      margin-right: 5px;
      a {
        display: block;
        color: #cfdbed;
        text-decoration: none;
      }
    }
  }
}