/* line 2, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 6, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/frontpage.scss */
body.frontpage section.hero {
  width: 100%;
  height: 800px;
  padding-top: 80px;
  background-color: #1880c2;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0173bc), color-stop(100%, #27a9e8));
  background-image: -webkit-linear-gradient(-320deg, #0173bc 0%, #27a9e8 100%);
  background-image: linear-gradient(50deg,#0173bc 0%, #27a9e8 100%); }
  /* line 12, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/frontpage.scss */
  body.frontpage section.hero .container {
    *zoom: 1;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    /* line 18, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/bourbon/addons/_clearfix.scss */
    body.frontpage section.hero .container:before, body.frontpage section.hero .container:after {
      content: " ";
      display: table; }
    /* line 23, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/bourbon/addons/_clearfix.scss */
    body.frontpage section.hero .container:after {
      clear: both; }
    /* line 15, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/frontpage.scss */
    body.frontpage section.hero .container h1 {
      color: #fff; }
/* line 20, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/frontpage.scss */
body.frontpage section.why {
  width: 100%;
  padding-bottom: 20px; }
  /* line 24, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/frontpage.scss */
  body.frontpage section.why .container {
    *zoom: 1;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    /* line 18, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/bourbon/addons/_clearfix.scss */
    body.frontpage section.why .container:before, body.frontpage section.why .container:after {
      content: " ";
      display: table; }
    /* line 23, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/bourbon/addons/_clearfix.scss */
    body.frontpage section.why .container:after {
      clear: both; }
    /* line 27, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/frontpage.scss */
    body.frontpage section.why .container .row {
      *zoom: 1;
      display: block; }
      /* line 18, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/bourbon/addons/_clearfix.scss */
      body.frontpage section.why .container .row:before, body.frontpage section.why .container .row:after {
        content: " ";
        display: table; }
      /* line 23, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/bourbon/addons/_clearfix.scss */
      body.frontpage section.why .container .row:after {
        clear: both; }
/* line 33, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/frontpage.scss */
body.frontpage section.clients {
  position: relative;
  min-height: 360px;
  padding: 1px 0 40px 0;
  background-color: #1880c2;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0173bc), color-stop(100%, #27a9e8));
  background-image: -webkit-linear-gradient(-320deg, #0173bc 0%, #27a9e8 100%);
  background-image: linear-gradient(50deg,#0173bc 0%, #27a9e8 100%);
  color: #fff; }
  /* line 40, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/frontpage.scss */
  body.frontpage section.clients h1 {
    color: #fff; }
  /* line 43, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/frontpage.scss */
  body.frontpage section.clients a {
    color: #bdebfd;
    text-decoration: none; }
  /* line 47, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/frontpage.scss */
  body.frontpage section.clients .testimonials {
    *zoom: 1;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    clear: both; }
    /* line 18, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/bourbon/addons/_clearfix.scss */
    body.frontpage section.clients .testimonials:before, body.frontpage section.clients .testimonials:after {
      content: " ";
      display: table; }
    /* line 23, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/bourbon/addons/_clearfix.scss */
    body.frontpage section.clients .testimonials:after {
      clear: both; }
    /* line 50, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/frontpage.scss */
    body.frontpage section.clients .testimonials blockquote {
      padding: 0 10%;
      margin-bottom: 20px; }
      /* line 53, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/frontpage.scss */
      body.frontpage section.clients .testimonials blockquote p {
        color: #fff; }
      /* line 56, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/frontpage.scss */
      body.frontpage section.clients .testimonials blockquote footer {
        text-align: right;
        color: #bdebfd; }
  /* line 62, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/frontpage.scss */
  body.frontpage section.clients .footer.link {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 30px;
    text-align: center;
    opacity: 0.25; }
    /* line 69, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/frontpage.scss */
    body.frontpage section.clients .footer.link:hover {
      opacity: 1.0; }
/* line 75, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/frontpage.scss */
body.frontpage section.apps {
  position: relative;
  min-height: 360px;
  padding: 1px 0 40px 0; }
  /* line 80, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/frontpage.scss */
  body.frontpage section.apps a {
    color: #7e8992;
    text-decoration: none; }
  /* line 84, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/frontpage.scss */
  body.frontpage section.apps .appgrid {
    *zoom: 1;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 20px; }
    /* line 18, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/bourbon/addons/_clearfix.scss */
    body.frontpage section.apps .appgrid:before, body.frontpage section.apps .appgrid:after {
      content: " ";
      display: table; }
    /* line 23, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/bourbon/addons/_clearfix.scss */
    body.frontpage section.apps .appgrid:after {
      clear: both; }
    /* line 89, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/frontpage.scss */
    body.frontpage section.apps .appgrid .app {
      width: 150px;
      height: 200px;
      margin: 0 10px 40px 10px;
      display: inline-block;
      text-align: center;
      vertical-align: text-top; }
      /* line 97, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/frontpage.scss */
      body.frontpage section.apps .appgrid .app img {
        display: block;
        margin: 0 auto; }
      /* line 101, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/frontpage.scss */
      body.frontpage section.apps .appgrid .app p {
        margin-top: 10px;
        color: #334450;
        font-size: 18px;
        line-height: 24px;
        font-family: "Gotham";
        font-weight: 300; }
      /* line 109, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/frontpage.scss */
      body.frontpage section.apps .appgrid .app small {
        color: #7e8992;
        font-size: 18px;
        line-height: 24px; }
  /* line 116, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/frontpage.scss */
  body.frontpage section.apps .footer.link {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 30px;
    text-align: center;
    opacity: 0.25; }
    /* line 123, /Users/steipete/Documents/Projects/PSPDFKit-Website-v3/source/stylesheets/frontpage.scss */
    body.frontpage section.apps .footer.link:hover {
      opacity: 1.0; }
