* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%; }

body {
  background-color: #f7f8f9;
  color: #334450;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.6em; }

nav.main {
  display: block;
  position: fixed;
  height: 80px;
  width: 100%;
  background: rgba(255, 255, 255, 0.96);
  z-index: 100; }
  nav.main ul {
    *zoom: 1;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block;
    padding: 20px 0; }
    nav.main ul:before, nav.main ul:after {
      content: " ";
      display: table; }
    nav.main ul:after {
      clear: both; }
    nav.main ul li {
      position: relative;
      display: block;
      float: left;
      margin-right: 5px;
      font-family: "Gotham";
      font-weight: 500; }
      nav.main ul li.download {
        float: right; }
        nav.main ul li.download a {
          color: #fff; }
          nav.main ul li.download a:hover {
            color: #fff;
            background: #0e6cae; }
          nav.main ul li.download a:active {
            background: #334450; }
      nav.main ul li a {
        display: block;
        height: 40px;
        padding: 0 14px;
        font-size: 16px;
        line-height: 40px;
        color: #1880c2;
        text-decoration: none; }
        nav.main ul li a:hover {
          color: #0e6cae;
          background: rgba(24, 128, 194, 0.05); }
        nav.main ul li a.active {
          color: #334450; }

nav.sub {
  position: fixed;
  display: block;
  top: 80px;
  width: 100%;
  height: 40px;
  background: rgba(8, 147, 218, 0.9);
  color: #fa0;
  z-index: 101; }
  nav.sub ul {
    width: auto;
    padding: 0;
    margin: 0 auto;
    text-align: center; }
    nav.sub ul li {
      display: inline-block; }
      nav.sub ul li a {
        display: block;
        float: left;
        height: 40px;
        padding: 0 14px;
        font-size: 16px;
        line-height: 40px;
        text-decoration: none;
        color: #fff;
        font-family: "Gotham";
        font-weight: 300; }
        nav.sub ul li a:hover {
          background-color: rgba(14, 108, 174, 0.5); }
        nav.sub ul li a:active {
          background-color: #0e6cae; }
        nav.sub ul li a.active {
          color: #1880c2;
          background-color: #f7f8f9; }

body.frontpage section.hero {
  width: 100%;
  height: 800px;
  padding-top: 80px;
  background-color: #1880c2;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0173bc), color-stop(100%, #27a9e8));
  background-image: -webkit-linear-gradient(-320deg, #0173bc 0%, #27a9e8 100%);
  background-image: linear-gradient(50deg,#0173bc 0%, #27a9e8 100%); }
  body.frontpage section.hero .container {
    *zoom: 1;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    body.frontpage section.hero .container:before, body.frontpage section.hero .container:after {
      content: " ";
      display: table; }
    body.frontpage section.hero .container:after {
      clear: both; }
    body.frontpage section.hero .container h1 {
      color: #fff; }
body.frontpage section.why {
  width: 100%;
  padding-bottom: 20px; }
  body.frontpage section.why .container {
    *zoom: 1;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    body.frontpage section.why .container:before, body.frontpage section.why .container:after {
      content: " ";
      display: table; }
    body.frontpage section.why .container:after {
      clear: both; }
    body.frontpage section.why .container .row {
      *zoom: 1;
      display: block; }
      body.frontpage section.why .container .row:before, body.frontpage section.why .container .row:after {
        content: " ";
        display: table; }
      body.frontpage section.why .container .row:after {
        clear: both; }
body.frontpage section.clients {
  position: relative;
  min-height: 360px;
  padding: 1px 0 40px 0;
  background-color: #1880c2;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0173bc), color-stop(100%, #27a9e8));
  background-image: -webkit-linear-gradient(-320deg, #0173bc 0%, #27a9e8 100%);
  background-image: linear-gradient(50deg,#0173bc 0%, #27a9e8 100%);
  color: #fff; }
  body.frontpage section.clients h1 {
    color: #fff; }
  body.frontpage section.clients a {
    color: #bdebfd;
    text-decoration: none; }
  body.frontpage section.clients .testimonials {
    *zoom: 1;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    clear: both; }
    body.frontpage section.clients .testimonials:before, body.frontpage section.clients .testimonials:after {
      content: " ";
      display: table; }
    body.frontpage section.clients .testimonials:after {
      clear: both; }
    body.frontpage section.clients .testimonials blockquote {
      padding: 0 10%;
      margin-bottom: 20px; }
      body.frontpage section.clients .testimonials blockquote p {
        color: #fff; }
      body.frontpage section.clients .testimonials blockquote footer {
        text-align: right;
        color: #bdebfd; }
  body.frontpage section.clients .footer.link {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 30px;
    text-align: center;
    opacity: 0.25; }
    body.frontpage section.clients .footer.link:hover {
      opacity: 1.0; }
body.frontpage section.apps {
  position: relative;
  min-height: 360px;
  padding: 1px 0 40px 0; }
  body.frontpage section.apps a {
    color: #7e8992;
    text-decoration: none; }
  body.frontpage section.apps .appgrid {
    *zoom: 1;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 20px; }
    body.frontpage section.apps .appgrid:before, body.frontpage section.apps .appgrid:after {
      content: " ";
      display: table; }
    body.frontpage section.apps .appgrid:after {
      clear: both; }
    body.frontpage section.apps .appgrid .app {
      width: 150px;
      height: 200px;
      margin: 0 10px 40px 10px;
      display: inline-block;
      text-align: center;
      vertical-align: text-top; }
      body.frontpage section.apps .appgrid .app img {
        display: block;
        margin: 0 auto; }
      body.frontpage section.apps .appgrid .app p {
        margin-top: 10px;
        color: #334450;
        font-size: 18px;
        line-height: 24px;
        font-family: "Gotham";
        font-weight: 300; }
      body.frontpage section.apps .appgrid .app small {
        color: #7e8992;
        font-size: 18px;
        line-height: 24px; }
  body.frontpage section.apps .footer.link {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 30px;
    text-align: center;
    opacity: 0.25; }
    body.frontpage section.apps .footer.link:hover {
      opacity: 1.0; }

body.features section.viewing-pdfs {
  padding-top: 120px; }
body.features section.annotating-pdfs {
  padding-top: 80px; }
body.features section.working-with-content {
  padding-top: 80px; }
body.features section.and-more {
  overflow: hidden;
  padding: 20px 0 40px 0; }
  body.features section.and-more .container {
    *zoom: 1;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    body.features section.and-more .container:before, body.features section.and-more .container:after {
      content: " ";
      display: table; }
    body.features section.and-more .container:after {
      clear: both; }
body.features section.info {
  width: 100%;
  padding-top: 400px; }
  body.features section.info .container {
    *zoom: 1;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    body.features section.info .container:before, body.features section.info .container:after {
      content: " ";
      display: table; }
    body.features section.info .container:after {
      clear: both; }
    body.features section.info .container .row {
      *zoom: 1;
      display: block; }
      body.features section.info .container .row:before, body.features section.info .container .row:after {
        content: " ";
        display: table; }
      body.features section.info .container .row:after {
        clear: both; }

body.references section.case-studies {
  padding-top: 120px;
  height: 1280px; }
  body.references section.case-studies .aw__slideshow__scroller {
    background: transparent url("/images/references/case-study-bg.png") repeat-x; }
    body.references section.case-studies .aw__slideshow__scroller .aw__slideshow__container {
      *zoom: 1;
      max-width: 68em;
      margin-left: auto;
      margin-right: auto; }
      body.references section.case-studies .aw__slideshow__scroller .aw__slideshow__container:before, body.references section.case-studies .aw__slideshow__scroller .aw__slideshow__container:after {
        content: " ";
        display: table; }
      body.references section.case-studies .aw__slideshow__scroller .aw__slideshow__container:after {
        clear: both; }
      body.references section.case-studies .aw__slideshow__scroller .aw__slideshow__container .aw__slideshow__items .description {
        opacity: 0.001;
        transition: opacity 0.75s; }
      body.references section.case-studies .aw__slideshow__scroller .aw__slideshow__container .aw__slideshow__navigation .aw__slideshow__look-left {
        top: 300px;
        left: -40px;
        border-radius: 7px; }
        body.references section.case-studies .aw__slideshow__scroller .aw__slideshow__container .aw__slideshow__navigation .aw__slideshow__look-left:active {
          background-color: rgba(0, 0, 0, 0.05); }
      body.references section.case-studies .aw__slideshow__scroller .aw__slideshow__container .aw__slideshow__navigation .aw__slideshow__look-right {
        top: 300px;
        right: -40px;
        border-radius: 7px; }
        body.references section.case-studies .aw__slideshow__scroller .aw__slideshow__container .aw__slideshow__navigation .aw__slideshow__look-right:active {
          background-color: rgba(0, 0, 0, 0.05); }
      body.references section.case-studies .aw__slideshow__scroller .aw__slideshow__container .aw__slideshow__pagination-indicators {
        position: absolute;
        top: 680px; }
      body.references section.case-studies .aw__slideshow__scroller .aw__slideshow__container h2 {
        text-align: left; }
body.references section.apps {
  position: relative;
  min-height: 360px;
  padding: 100px 0 40px 0; }
  body.references section.apps a {
    color: #7e8992;
    text-decoration: none; }
  body.references section.apps .appgrid {
    *zoom: 1;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 20px 0 20px 0; }
    body.references section.apps .appgrid:before, body.references section.apps .appgrid:after {
      content: " ";
      display: table; }
    body.references section.apps .appgrid:after {
      clear: both; }
    body.references section.apps .appgrid .app {
      width: 80px;
      height: 120px;
      margin: 0 10px 40px 10px;
      display: inline-block;
      text-align: center;
      vertical-align: text-top; }
      body.references section.apps .appgrid .app img {
        display: block;
        width: 64px;
        height: auto;
        margin: 0 auto; }
      body.references section.apps .appgrid .app p {
        margin-top: 10px;
        color: #334450;
        font-size: 13px;
        line-height: 14px;
        font-family: "Gotham";
        font-weight: 300; }
      body.references section.apps .appgrid .app small {
        color: #7e8992;
        font-size: 11px;
        line-height: 14px; }
  body.references section.apps .footer.link {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 30px;
    text-align: center;
    opacity: 0.25; }
    body.references section.apps .footer.link:hover {
      opacity: 1.0; }
body.references section.companies-using-pspdfkit {
  display: block;
  padding: 100px 0 40px 0; }
  body.references section.companies-using-pspdfkit ul.companies-list {
    *zoom: 1;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em; }
    body.references section.companies-using-pspdfkit ul.companies-list:before, body.references section.companies-using-pspdfkit ul.companies-list:after {
      content: " ";
      display: table; }
    body.references section.companies-using-pspdfkit ul.companies-list:after {
      clear: both; }
    body.references section.companies-using-pspdfkit ul.companies-list li {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 31.76157%;
      margin-bottom: 1em; }
      body.references section.companies-using-pspdfkit ul.companies-list li:last-child {
        margin-right: 0; }
      body.references section.companies-using-pspdfkit ul.companies-list li:nth-child(3n+0) {
        margin-right: 0; }
      body.references section.companies-using-pspdfkit ul.companies-list li a {
        display: block;
        text-decoration: none;
        color: #085075;
        font-family: "Gotham";
        font-weight: 300;
        font-size: 18px; }
        body.references section.companies-using-pspdfkit ul.companies-list li a:hover {
          color: #0c81c7; }
      body.references section.companies-using-pspdfkit ul.companies-list li small {
        color: #7e8992;
        font-size: 11px;
        line-height: 14px; }

body.purchase section.products {
  width: 100%;
  padding: 120px 0 0 0;
  background-color: #1880c2;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0173bc), color-stop(100%, #27a9e8));
  background-image: -webkit-linear-gradient(-320deg, #0173bc 0%, #27a9e8 100%);
  background-image: linear-gradient(50deg,#0173bc 0%, #27a9e8 100%); }
  body.purchase section.products .container {
    *zoom: 1;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    body.purchase section.products .container:before, body.purchase section.products .container:after {
      content: " ";
      display: table; }
    body.purchase section.products .container:after {
      clear: both; }
    body.purchase section.products .container .product {
      position: relative;
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 31.76157%;
      border-radius: 12px;
      background: rgba(255, 255, 255, 0.9); }
      body.purchase section.products .container .product:last-child {
        margin-right: 0; }
      body.purchase section.products .container .product .product-logo {
        text-align: center; }
        body.purchase section.products .container .product .product-logo img {
          display: block;
          width: 120px;
          height: 160px;
          margin: 30px auto 30px auto; }
      body.purchase section.products .container .product .white {
        position: relative;
        height: 600px;
        background: #fff;
        border-radius: 0 0 12px 12px;
        overflow: hidden; }
      body.purchase section.products .container .product ul {
        list-style-type: none;
        margin-bottom: 20px;
        background: #fff; }
        body.purchase section.products .container .product ul li {
          padding: 8px 10px 8px 15px;
          font-size: 18px;
          line-height: 28px;
          min-height: 40px; }
        body.purchase section.products .container .product ul.features li {
          border-bottom: 1px solid rgba(8, 142, 218, 0.2); }
          body.purchase section.products .container .product ul.features li em {
            color: #027fbf;
            font-style: normal; }
      body.purchase section.products .container .product .buy {
        position: absolute;
        width: 100%;
        bottom: 0px;
        left: 0px;
        text-align: center; }
        body.purchase section.products .container .product .buy ul li {
          height: 50px;
          margin-bottom: 2px;
          background: #f7f8f9;
          color: #0893da;
          font-family: "Gotham";
          font-weight: 200;
          font-size: 36px;
          line-height: 40px;
          text-indent: -0.75em; }
          body.purchase section.products .container .product .buy ul li em {
            color: #334450;
            font-weight: 600;
            font-style: normal; }
      body.purchase section.products .container .product .button {
        width: auto;
        display: block;
        margin: 10px;
        text-align: center;
        text-decoration: none;
        font-family: "Gotham";
        font-weight: 300;
        font-size: 18px;
        background: #0893da; }
        body.purchase section.products .container .product .button:hover {
          background: #0089d0; }
        body.purchase section.products .container .product .button:active {
          background: #0075bc; }
        body.purchase section.products .container .product .button.lessawesome {
          background: #617484; }
          body.purchase section.products .container .product .button.lessawesome:hover {
            background: #576a7a; }
          body.purchase section.products .container .product .button.lessawesome:active {
            background: #435666; }
  body.purchase section.products .footer.link {
    clear: both;
    position: relative;
    display: block;
    height: 40px;
    padding-top: 10px;
    color: #bdebfd;
    text-decoration: none;
    text-align: center;
    opacity: 0.5; }
    body.purchase section.products .footer.link:hover {
      opacity: 1.0; }
body.purchase section.info {
  width: 100%;
  padding: 20px 0 40px 0; }
  body.purchase section.info .container {
    *zoom: 1;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    body.purchase section.info .container:before, body.purchase section.info .container:after {
      content: " ";
      display: table; }
    body.purchase section.info .container:after {
      clear: both; }
    body.purchase section.info .container .row {
      *zoom: 1;
      display: block; }
      body.purchase section.info .container .row:before, body.purchase section.info .container .row:after {
        content: " ";
        display: table; }
      body.purchase section.info .container .row:after {
        clear: both; }

body > footer {
  min-height: 40px;
  width: 100%;
  color: #cfdbed;
  background: #085075;
  padding: 0; }
  body > footer ul {
    *zoom: 1;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block;
    padding: 20px 0; }
    body > footer ul:before, body > footer ul:after {
      content: " ";
      display: table; }
    body > footer ul:after {
      clear: both; }
    body > footer ul li {
      position: relative;
      display: block;
      float: left;
      margin-right: 5px; }
      body > footer ul li a {
        display: block;
        color: #cfdbed;
        text-decoration: none; }

.aw__slideshow__scroller {
  position: relative; }
  .aw__slideshow__scroller .aw__slideshow__container {
    position: relative; }
    .aw__slideshow__scroller .aw__slideshow__container .aw__slideshow__items {
      position: relative;
      clear: both;
      z-index: 1;
      transition: left 0.3s; }
      .aw__slideshow__scroller .aw__slideshow__container .aw__slideshow__items > * {
        transition: opacity 0.5s; }
    .aw__slideshow__scroller .aw__slideshow__container .aw__slideshow__navigation {
      position: relative;
      z-index: 2; }
      .aw__slideshow__scroller .aw__slideshow__container .aw__slideshow__navigation .aw__slideshow__look-left {
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 80px;
        height: 80px;
        background: transparent url("aw_gallery_scroller-arrows.png") no-repeat 0px 0px;
        background-size: 480px 80px;
        cursor: pointer; }
        .aw__slideshow__scroller .aw__slideshow__container .aw__slideshow__navigation .aw__slideshow__look-left:hover {
          background-position: -80px 0px; }
        .aw__slideshow__scroller .aw__slideshow__container .aw__slideshow__navigation .aw__slideshow__look-left:active {
          background-position: -160px 0px; }
      .aw__slideshow__scroller .aw__slideshow__container .aw__slideshow__navigation .aw__slideshow__look-right {
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
        width: 80px;
        height: 80px;
        background: transparent url("aw_gallery_scroller-arrows.png") no-repeat -240px 0px;
        background-size: 480px 80px;
        cursor: pointer; }
        .aw__slideshow__scroller .aw__slideshow__container .aw__slideshow__navigation .aw__slideshow__look-right:hover {
          background-position: -320px 0px; }
        .aw__slideshow__scroller .aw__slideshow__container .aw__slideshow__navigation .aw__slideshow__look-right:active {
          background-position: -400px 0px; }
    .aw__slideshow__scroller .aw__slideshow__container .aw__slideshow__pagination-indicators {
      display: block;
      position: relative;
      width: 100%;
      height: 20px;
      z-index: 2;
      text-align: center;
      box-align: center; }
      .aw__slideshow__scroller .aw__slideshow__container .aw__slideshow__pagination-indicators .aw__pagination__indicator {
        position: relative;
        display: inline-block;
        width: 11px;
        height: 11px;
        margin-left: 5px;
        margin-right: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        cursor: pointer; }
        .aw__slideshow__scroller .aw__slideshow__container .aw__slideshow__pagination-indicators .aw__pagination__indicator:hover {
          background: #fff;
          border-color: #0893da; }
        .aw__slideshow__scroller .aw__slideshow__container .aw__slideshow__pagination-indicators .aw__pagination__indicator:active {
          background: #ccc; }
      .aw__slideshow__scroller .aw__slideshow__container .aw__slideshow__pagination-indicators .aw__pagination__indicator_active {
        position: relative;
        display: inline-block;
        width: 11px;
        height: 11px;
        margin-left: 5px;
        margin-right: 5px;
        border: 1px solid #0972a8;
        background: #0893da;
        border-radius: 6px;
        cursor: pointer; }
        .aw__slideshow__scroller .aw__slideshow__container .aw__slideshow__pagination-indicators .aw__pagination__indicator_active:hover {
          background: #0893da; }
        .aw__slideshow__scroller .aw__slideshow__container .aw__slideshow__pagination-indicators .aw__pagination__indicator_active:active {
          background: #0893da; }

h1 {
  padding: 1em 0 0 0;
  color: #0c81c7;
  font-size: 36px;
  line-height: 56px;
  font-weight: 200;
  text-align: center;
  font-family: "Gotham"; }

h2 {
  padding: 1em 0 0 0;
  color: #085075;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  font-family: "Gotham";
  font-weight: 300; }

.button {
  line-height: 20px;
  padding: 10px 24px;
  color: #fff;
  background: #1880c2;
  border-radius: 7px; }
  .button:hover {
    color: #fff;
    background: #0e6cae; }
  .button:active {
    background: #334450; }

.halfwidth {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 48.82117%;
  font-size: 16px;
  line-height: 24px; }
  .halfwidth:last-child {
    margin-right: 0; }
  .halfwidth p {
    margin-bottom: 24px; }

.floatright {
  float: right; }

.gray {
  color: #7e8992; }
