body.purchase {

  section.products {
    width: 100%;
    padding: 120px 0 0 0;
    @include linear-gradient(50deg, #0173bc 0%, #27a9e8 100%, $fallback: $pspdfkitblue);

    .container {
      @include outer-container;

      .product {
        position: relative;
        @include span-columns(4);
        border-radius: 12px;
        background: rgba(255,255,255,0.9);
        .product-logo {
          text-align: center;
          img {
            display: block;
            width: 120px;
            height: 160px;
            margin: 30px auto 30px auto;
          }
        }
        .white {
          position: relative;
          height: 600px;
          background: #fff;
          border-radius: 0 0 12px 12px;
          overflow: hidden;
        }
        ul {
          list-style-type: none;
          margin-bottom: 20px;
          background: #fff;
          li {
            padding: 8px 10px 8px 15px;
            font-size: 18px;
            line-height: 28px;
            min-height: 40px;
          }
          &.features {
            li {
              border-bottom: 1px solid rgba(8,142,218,0.2);
              em {
                color: #027fbf;
                font-style: normal;
              }
            }
          }
        }
        .buy {
          position: absolute;
          width: 100%;
          bottom: 0px;
          left: 0px;
          text-align: center;
          ul {
            li {
              height: 50px;
              margin-bottom: 2px;
              background: #f7f8f9;
              color: #0893da;
              font-family: "Gotham";
              font-weight: 200;
              font-size: 36px;
              line-height: 40px;
              text-indent: -0.75em;
              em {
                color: #334450;
                font-weight: 600;
                font-style: normal;
              }
            }
          }
        }

        .button {
          width: auto;
          display: block;
          margin: 10px;
          text-align: center;
          text-decoration: none;
          font-family: "Gotham";
          font-weight: 300;
          font-size: 18px;
          background: rgb(8,147,218);
          &:hover {
            background: rgb(0,137,208);
          }
          &:active {
            background: rgb(0,117,188);
          }

          &.lessawesome {
            background: rgb(97,116,132);
            &:hover {
              background: rgb(87,106,122);
            }
            &:active {
              background: rgb(67,86,102);
            }
          }
        }
      }
    }
    .footer.link {
      clear: both;
      position: relative;
      display: block;
      height: 40px;
      padding-top: 10px;
      color: #bdebfd; 
      text-decoration: none;
      text-align: center;
      opacity: 0.5;
      &:hover {
        opacity: 1.0;
      }
    }

  }  

  section.info {
    width: 100%;
    padding: 20px 0 40px 0;

    .container {
      @include outer-container;
      
      .row {
        @include row();
      }
    }
  }  

}



